@import 'tailwindcss';
@import "tw-animate-css";

@plugin "tailwindcss-react-aria-components";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

:root {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.6 0.118 184.704);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.92 0.004 286.32);
  --secondary-foreground: oklch(0.141 0.005 285.823);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.92 0.004 286.32);
  --accent-foreground: oklch(0.141 0.005 285.823);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.971 0.013 17.38);
  --chart-1: oklch(0.6 0.118 184.704);
  --chart-2: oklch(0.596 0.145 163.225);
  --chart-3: oklch(0.828 0.189 84.429);
  --chart-4: oklch(0.577 0.245 27.325);
  --chart-5: oklch(0.685 0.169 237.323);
  --border: oklch(94% 0.004 286.32);
  --input: oklch(0.871 0.006 286.286);
  --ring: oklch(0.6 0.118 184.704);
  --radius: 0.5rem;

  --bg: oklch(1 0 0);
  --fg: oklch(0.21 0.006 285.885);

  --primary-subtle: oklch(0.704 0.14 182.503 / 0.15);
  --primary-subtle-fg: oklch(0.511 0.096 186.391);

  --overlay: oklch(1 0 0);
  --overlay-fg: oklch(0.141 0.005 285.823);

  --success: oklch(0.596 0.145 163.225);
  --success-fg: oklch(1 0 0);

  --success-subtle: oklch(0.696 0.17 162.48 / 0.15);
  --success-subtle-fg: oklch(0.508 0.118 165.612);

  --info-subtle: oklch(0.685 0.169 237.323 / 0.15);
  --info-subtle-fg: oklch(0.5 0.134 242.749);

  --warning: oklch(0.828 0.189 84.429);
  --warning-fg: oklch(0.279 0.077 45.635);

  --warning-subtle: oklch(0.828 0.189 84.429 / 0.2);
  --warning-subtle-fg: oklch(0.555 0.163 48.998);

  --danger: oklch(0.577 0.245 27.325);
  --danger-fg: oklch(0.971 0.013 17.38);

  --danger-subtle: oklch(0.637 0.237 25.331 / 0.15);
  --danger-subtle-fg: oklch(0.505 0.213 27.518);

  --navbar: oklch(0.995 0 0);
  --navbar-fg: oklch(0.141 0.005 285.823);

  --sidebar: oklch(0.985 0 0);
  --sidebar-fg: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.704 0.14 182.503 / 0.15);
  --sidebar-primary-fg: oklch(0.511 0.096 186.391);
  --sidebar-accent: oklch(0.92 0.004 286.32);
  --sidebar-accent-fg: oklch(0.141 0.005 285.823);
  --sidebar-border: oklch(0.901 0.006 286.286);
  --sidebar-ring: oklch(0.6 0.118 184.704);

  --radius-lg: 0.125rem;
  --radius-xs: calc(var(--radius-lg) * 0.5);
  --radius-sm: calc(var(--radius-lg) * 0.75);
  --radius-md: calc(var(--radius-lg) * 0.9);
  --radius-xl: calc(var(--radius-lg) * 1.25);
  --radius-2xl: calc(var(--radius-lg) * 1.5);
  --radius-3xl: calc(var(--radius-lg) * 2);
  --radius-4xl: calc(var(--radius-lg) * 3);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
}

.dark {
  --background: oklch(0.181 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.181 0.005 285.823);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.181 0.005 285.823);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.6 0.118 184.704);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.244 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.21 0.006 285.885);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.971 0.013 17.38);
  --chart-1: oklch(0.6 0.118 184.704);
  --chart-2: oklch(0.596 0.145 163.225);
  --chart-3: oklch(0.828 0.189 84.429);
  --chart-4: oklch(0.577 0.245 27.325);
  --chart-5: oklch(0.685 0.169 237.323);
  --border: oklch(0.342 0.017 285.786);
  --input: oklch(0.320 0.013 285.805);
  --ring: oklch(0.6 0.118 184.704);

  --bg: oklch(0.181 0.005 285.823);
  --fg: oklch(0.985 0 0);

  --primary-subtle: oklch(0.704 0.14 182.503 / 0.1);
  --primary-subtle-fg: oklch(0.855 0.138 181.071);

  --overlay: oklch(0.210 0.006 285.885);
  --overlay-fg: oklch(0.985 0 0);

  --success: oklch(0.596 0.145 163.225);
  --success-fg: oklch(1 0 0);

  --success-subtle: oklch(0.696 0.17 162.48 / 0.1);
  --success-subtle-fg: oklch(0.765 0.177 163.223);

  --info-subtle: oklch(0.685 0.169 237.323 / 0.1);
  --info-subtle-fg: oklch(0.828 0.111 230.318);

  --warning: oklch(0.828 0.189 84.429);
  --warning-fg: oklch(0.279 0.077 45.635);

  --warning-subtle: oklch(0.828 0.189 84.429 / 0.1);
  --warning-subtle-fg: oklch(0.828 0.189 84.429);

  --danger: oklch(0.577 0.245 27.325);
  --danger-fg: oklch(0.971 0.013 17.38);

  --danger-subtle: oklch(0.637 0.237 25.331 / 0.1);
  --danger-subtle-fg: oklch(0.704 0.191 22.216);

  --navbar: oklch(0.190 0.006 285.885);
  --navbar-fg: oklch(0.985 0 0);

  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-fg: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.704 0.14 182.503 / 0.1);
  --sidebar-primary-fg: oklch(0.855 0.138 181.071);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-fg: oklch(0.985 0 0);
  --sidebar-border: oklch(0.274 0.006 286.033);
  --sidebar-ring: oklch(0.6 0.118 184.704);

  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
}

@layer base {
  * {
    @apply border-border;
  }

  *:focus-visible {
    @apply outline-ring rounded-xs shadow-none outline-2 outline-offset-3 !transition-none;
  }

  body {
    @apply bg-background text-foreground;
    background-color: var(--bg);
    color: var(--fg);
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--input);
    border-radius: 5px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--input) transparent;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1440px) {
    padding-inline: 2rem;
    max-width: 1440px;
  }
}

@utility touch-target {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-height: 44px;
    min-width: 44px;
    z-index: 9999;
  }
}